@import "../_util/SeauiBaseStyle.scss";
@keyframes boxShadow {
  from {
    box-shadow: 0px 0px 30px #f56c6c;
  }
  to {
    box-shadow: null;
  }
}
label.seauiCheckBoxItem {
  position: relative;
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
  vertical-align: bottom;
  margin-left: 10px;
  span {
    width: 14px;
    height: 14px;
    display: inline-block;
    border: 1px solid $blurBorderColor;
    vertical-align: bottom;
    position: relative;
  }
  &.seauiCheckBoxSelected {
    // animation-name: boxShadow;
    // animation-duration: 0.5s;
    span {
      &::before {
        position: absolute;
        top: -4px;
        left: -4px;
        width: 18px;
        height: 18px;
        border-radius: 2px;
        content: "";
        animation: seaCheckBoxBorderEffect 0.5s; //ease-in-out;
        animation-fill-mode: forwards;
        content: "";
      }
      &::after {
        animation: seaCheckBoxEffect 0.5s; //ease-in-out;
        content: " ";
        display: block;
        width: 8px;
        height: 4px;
        border-bottom: 2px solid white;
        border-left: 2px solid white;
        transform: rotate(-45deg);
        position: relative;
        left: 1px;
        top: 2px;
      }
    }
    @each $name, $color in $colors {
      &.seaui-color-#{$name} {
        color: $color;
        span {
          border-color: $color;
          background-color: $color;
          &::before {
            border: 1px solid $color;
          }
          &::before {
            box-shadow: 0px 0px 5px $color;
          }
        }
      }
    }
  }
}

@keyframes seaCheckBoxEffect {
  0% {
    transform: rotate(-45deg) scale(0.5);
  }
  100% {
    transform: rotate(-45deg) scale(1);
  }
}

@keyframes seaCheckBoxBorderEffect {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
