@import "../_util/SeauiBaseStyle.scss";
label.seaTextItem {
  padding: 5px 10px;
  min-width: 100%;
  cursor: pointer;
  &:hover {
    background-color: $blurBorderColor;
  }
  &.seaTextItemSelected {
    color: white;
    @each $name, $color in $colors {
      &.seaui-color-#{$name} {
        background-color: $color;
      }
    }
  }
}
